@layer { @tailwind base; }
@tailwind components;
@tailwind utilities;

@layer components{
  .dotted-bg{
    background-image: url('../public/assets/images/dotted-pattern.png');
    background-repeat: no-repeat;
    background-color:  rgb(246 248 253) ;
    background-size: contain;
  }
}
@layer components {
  .animation-badge {
    @apply transition duration-150 ease-linear opacity-0 absolute right-4 top-4 bg-slate-50
  }
}
