@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .dotted-bg{
    background-image: url('../public/assets/images/dotted-pattern.png');
    background-repeat: no-repeat;
    background-color: rgb(246 248 253);
    background-size: contain;
  }
}
